@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: small;
  height: 100%;
}

.navBar1 {
  /* background-color: lightslategray; */
  overflow: hidden;
  width: 100%;
  color: black;
  /* font-size: medium !important; */
}

.navBar1 i {
  margin-right: 0.5rem;
  float: left;
  text-align: center;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.navBar1 i span {
  font-size: small;
}

.navbar1-right {
  float: right;
}

.nav-item,
.nav-link {
  color: black;
}

div .navbar-brand i {
  font-size: 25px !important;


}


.navbar-brand i {
  /* color: cyan; */
  font-size: 25px !important;
}

#navbarSupportedContent {
  font-size: medium;
  text-transform: uppercase;
}

.dropdown-item {
  font-size: medium;
  text-transform: capitalize;
}

.nav-item .nav-link i {
  position: absolute;
  font-size: 24px;
  top: 0;
  /* right: 520px; */
  line-height: 60px;

}

.nav-item span {
  position: absolute;
  margin-top: 5px;
  font-size: 12px;
  top: 0;
  /* right: 545px; */

}

#content-wrap {
  padding-bottom: 6.5rem;
}

.fixFooter {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  overflow: hidden;
  height: 5rem;
  background-color: lightslategray;
  font-size: small !important;
  display: flex;
  justify-content: space-evenly;
}

.fixFooter p {
  color: black;
  font-weight: 300 !important;

}

@media screen and (max-width: 991px) {

  .fixFooter {
    display: none;
  }

  .nav-item span {
    position: absolute;
    margin-top: 10px;
    font-size: 12px;
    top: 0;
    right: 48%;
  }

  .nav-item .nav-link i {
    right: 50%;
  }

  .navBar1,
  .text-bg-warning {
    display: none;
  }

  .searchform {
    margin-top: 10px;
  }
}

.listproducts {
  min-height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem 4rem;
  align-content: center;
  justify-content: space-evenly;
}

.cards {
  width: 250px;
}

.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
}

.image_box .item-newArrvial span {
  position: absolute !important;
  font-weight: 500;
  font-size: 10px !important;
  text-transform: uppercase;
  color: black;
  /* margin-top: 5px; */
  margin-left: 50px;
  width: 85px;
  background-color: gold;
  border: 1px solid gold;
}

.image_box .item-Onsale span {
  position: absolute !important;
  font-weight: 500;
  font-size: 10px !important;
  text-transform: uppercase;
  color: white;
  /* margin-top: 7px; */
  margin-left: 50px;
  width: 70px;
  background-color: red;
  border: 1px solid red;
}

.image_box img {
  justify-content: center;
  width: 120px;
  height: 80px;
  cursor: pointer;
  transition: all ease;
  /* text-align: right; */
  /* justify-content: right; */
  justify-items: center;
}

/* .image_box img:hover {
  transform: translate(0px, -5px);
  transition: 0.5s ease;
  box-shadow: 5px 5px gold;
} */

.cards:hover {
  color: darkgoldenrod;
  transform: translate(0px, -5px);
  transition: 0.5s ease;
}

article {
  width: 60%;
  margin: auto;
}

.cart_box img {
  width: 50px;
  height: 50px;
}

article div .cart_img p {
  font-size: medium;
  font-weight: 400 !important;
}

.cart_img {
  display: flex;
  width: 400px;
}

.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

/* .cart_box div:nth-child(3) button:hover {
  background-color: darkseagreen;
} */

.cart_box div:nth-child(3) span {
  background-color: gold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.total span:nth-child(1) {
  font-size: 2rem;
  color: skyblue;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 2rem;
}

.total span:nth-child(2) {
  font-size: 2rem;
  color: green;
  font-weight: bold;
}